.footer-container {
  background-color: #161616;
  transition: 0.4s;
  color: #fff;
  padding: 20px 10px;
  bottom: 0;
}

.footer-container p {
  font-size: 16px;
  text-align: center;
  margin: 0;
}
