.backoffice {
  margin-bottom: 6em;

  h2 {
    margin: 2em;
    font-family: "Courgette", cursive;
  }

  .btn-bo {
    padding: 10px 40px;
    background-color: #bb1a27;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5em;
    transition: 0.4s;
    width: 80%;

    &:hover {
      transform: scale(1.05);
    }
  }
  .btn-add {
    background-color: #bb1a27;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }

  .btn-add:hover {
    opacity: 0.8;
    transition: 0.4s;
  }

  .btn-edit {
    background-color: #ffc105;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }

  .btn-edit:hover {
    opacity: 0.8;
    transition: 0.4s;
  }

  .btn-delete {
    background-color: #dc3545;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }

  .btn-delete:hover {
    opacity: 0.8;
    transition: 0.4s;
  }
}
.btn-back-menu {
  padding: 10px 40px;
  background-color: #bb1a27;
  color: #fff;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  margin-bottom: 1.5em;
  transition: 0.4s;

  &:hover {
    transform: scale(1.05);
  }
}

/* FORMS BACKOFFICE */
.form-backoffice input[type="text"],
input[type="date"],
input[type="number"],
select {
  background-color: #e9e7e7;
  border: none;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  color: #636161;
  display: block;
  width: calc(100% - 24px);
  font-weight: 600;
}

input[type="file"] {
  padding: 12px 10px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.cardBackoffice {
  padding: 70px 0px 40px 0px;

  form {
    width: 800px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px 35px;
    transition: 0.4s;
  }

  form * {
    font-family: "Poppins", sans-serif;
    color: #161616;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }

  label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }

  input:not(#size_input) {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder {
    color: #959595;
  }

  .multi-select {
    cursor: pointer;
    background-color: #f8f9fa;
    border-radius: 3px;
    margin-top: 8px;
    padding: 5px;

    input {
      cursor: pointer;
    }
  }

  textarea {
    display: block;
    height: 80px;
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 3px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder {
    color: #959595;
  }

  select {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 3px;
    padding: 0px 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder {
    color: #959595;
  }

  button.add {
    margin-top: 50px;
    width: 100%;
    background-color: #bb1a27;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
  }

  button.add:hover {
    transform: scale(1.05);
  }

  button.backBo {
    margin-top: 50px;
    width: 100%;
    background-color: #f8f9fa;
    color: #807f7f;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
  }

  button.backBo:hover {
    transform: scale(1.05);
  }
}

td {
  img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
}

.btn-check-green {
  margin-left: 1em;
  background-color: #67c23c;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.btn-load-orange {
  background-color: #ffc105;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.btn-delete-red {
  margin-left: 1em;
  background-color: #bb1a27;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
