.homepage {
  height: 100vh;
  margin-top: -110px;

  .homepage-content {
    padding-top: 20em;
    color: #fff;

    h1 {
      font-family: "Courgette", cursive;
    }

    button {
      margin-top: 2em;
      padding: 10px 40px;
      background-color: #bb1a27;
      color: #fff;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
      transition: 0.4s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
