@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 54px !important;
}

h2 {
  font-size: 40px !important;
  color: #67c23c;
}

h3 {
  font-size: 36px !important;
  color: #67c23c;
}
