.card {
  width: 300px;
  margin: 1em 0 1.5em;
  padding: 15px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.4s;

  &:hover {
    transform: scale(1.06);
  }

  img {
    border-radius: 5px;
    width: 270px;
    height: 270px;
  }

  strong {
    font-weight: bold;
  }

  .content {
    padding: 0.8em 0 0 0.5em;
  }

  .buttons {
    display: flex;
    margin: 1.2em 0 0.8em 0;

    button {
      border-radius: 50%;
      border: none;
      padding: 10px 15px;
      transition: 0.4s;

      &:hover {
        transform: scale(1.08);
        opacity: 0.8;
      }

      svg {
        margin-top: -2px;
        margin-left: -2px;
      }
    }
  }
}

.list {
  display: flex;
  justify-content: start;
  margin-top: -1em;

  .card {
    margin: 1em;
  }
}
